.inspector {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--silver);;
    overflow: hidden;
    padding: 4px 16px;
    height: 40px;
    .inspector__item {
        display: flex;
        font-size: var(--font-size-small);
        color: var(--black);
        text-align: right;
        overflow: hidden;
        align-self: center;
        margin-left: 8px;
        &:first-child {
            margin-left: 0px;
        }
        .inspector__item__value {
            color: var(--black);
            overflow: hidden;
        }
    }
    .inspector__icon {
        width: 32px;
    }
    .input__field {
        border: none;
    }
}

.calcrator {
    padding: 28px 16px;
    .input {
        display: flex;
        align-items: center;
        font-size: calc(var(--font-size-xlarge) * 2);
        .input__field {
            text-align: center;
            font-size: calc(var(--font-size-xlarge) * 2);
            font-weight: 600;
            height: 48px;
            &:placeholder-shown {
                    border: none;
            }
        }
        .targetHeight {
            color: var(--blue);
        }
    }
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--silver);
    margin: 16px 0;
}

.actionBar {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--silver);;
    padding: 8px 16px;
}
